.app {
  min-height: 100vh;
}

header {
  box-shadow: var(--shadow-sm);
  padding: 1rem;
  margin-bottom: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }


}

main {
  padding-bottom: 40px;
  max-width: 65%;
  margin: auto;
}
